body{
min-height: 100vh;
}
::selection {
  color: white;
  background-color: #858585;
}

html {

  scroll-padding-top:58px;
}
body{
  transition: background-color 0.3s ease-out,height 0.3s ease-out;

}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6610f2;
  --bs-btn-border-color: #6610f2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8440f2;
  --bs-btn-hover-border-color: #7035cf;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #460ca3;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #997fc2;
  --bs-btn-disabled-border-color: #0d6efd;
}


header{
  height: 58px;

}
h3{
  margin-bottom: 1rem;
}
section.section{
  display:none;
}
section.section.active{
  display:block
}

.carousel-item img{
  height: 22rem;
  width: 100%;
}

#cats-container{
  height: inherit;
  /* width: 100%; */
}

#cats-carousel{
  width: 22rem;
  height: 100%;
}
#cats-vertical{
  height: 19rem;
  margin: 1rem 0;
  overflow: auto;
}
#cats-vertical img{

  height: 19rem;
  /* margin-bottom: 1rem; */
  width: 100%;
}
#cats-vertical::-webkit-scrollbar {
  width: 10px;
  background-color: #c1cadc;
}
#cats-vertical::-webkit-scrollbar-thumb {
  background: #1a131a;
}
#right-vertical-contents{
  width: 24rem;
  
 /* max-width: 90%; */
}
#more-cats-btn{
  min-width: 18rem;
}

nav{

transition: all;


}
#section-1-main{
  /* margin-top: 58px; */
}
.nav-item.head-2{
  margin-left: 2rem;
}
#section-2{
  /* margin-top: 58px; */
}

.d-flex.flex-md-row.flex-column {

}
div figure.col-md-4{
  width: 18rem;
}
div figure.col-md-4 img{
height: 18rem;
/* width: 100%; */

}

pre{
  color:rgb(21, 195, 21);
  background-color: #303030;
}
p#show-bgi{
  line-height: 1.7rem;
  background-color: rgba(0, 0, 0, 0.7) !important;
  margin: 0 auto;
  width: 100%;
height: 45vw;
background-size: cover;
background-repeat: no-repeat;


}